<div class="side-nav-content">

    <ul class="nav-list">

        <li class="nav-list-item white-border">

            <a href="#">
               January 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               February 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               March 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               April 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               May 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               Jun 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               July 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               August 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               September 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               Octomber 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               November 2023
            </a>

        </li>
        <li class="nav-list-item white-border">

            <a href="#">
               December 2023
            </a>

        </li>
    </ul>

</div>